{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript">
        function get_journal_watch() {
            var data_start = document.getElementById("start").value;
            var data_end = document.getElementById("end").value;

            if (!data_start || 0 === data_start.length) {
                $('#modal').find('.modal-body').text("Choose the Start date");
                $('#modal').modal('show');
            } else if (!data_end || 0 === data_end.length) {
                $('#modal').find('.modal-body').text("Choose the End date");
                $('#modal').modal('show');
            } else if (new Date(data_start) > new Date(data_end)) {
                $('#modal').find('.modal-body').text("End date should be later, then Start date");
                $('#modal').modal('show');
            } else
                return window.open("{% url 'get_docx' %}?start=" + data_start + "&end=" + data_end);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="signin" align="center">
        <form method="post" enctype="multipart/form-data" class="form-control-file"> {% csrf_token %}
            <div class="form-signin">
                <h2 class="form-signin-heading">Get journal watch</h2>
                <br>
                <div class="form-group">
                    <label for="start">Start date:</label>
                    <input class="form-control" type="date" id="start" name="trip-start">
                </div>
                <br>
                <div class="form-group">
                    <label for="end">End date:</label>
                    <input class="form-control" type="date" id="end" name="trip-end">
                </div>
                <br>
                <div>
                    <input class="btn btn-lg btn-primary btn-block" type="button" value="Get"
                           onclick="get_journal_watch()">
                </div>
            </div>
        </form>
    </div>
{% endblock %}